/************* Styles.scss*************/
@mixin font-family-Shrikand{
    font-family: "Shrikhand", cursive;
}
@mixin font-family-Roboto{
    font-family: "Roboto", sans-serif;
}
@mixin display-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin display-row{
    display: flex;
  flex-direction: row;
}
@mixin display-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin display-column{ 
    display: flex;
    flex-direction: column;
}
@mixin element-center{
    width: 75%;
    margin: auto;
}
@mixin liste-fonctionement{
    margin-right: 1rem;
    content: "" counter(compteur);
    color: white;
    background: #9356dc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    @include display-center;
    position: absolute;
    bottom: 15px;
    left: -16px;
}
@mixin badge-noveau{
    content: "Nouveau";
        height: 23px;
        width: 75px;
        background-color: #99e2d0;
        color: #008766;
        position: absolute;
        text-align: center;
        top: 10px;
        right: 40px;
}
@mixin animation-heart{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition-duration: 1s;
    :hover .fa-solid {
        opacity: 1;
    } 
}
@mixin transform{
    transform: scale(1.2);
  opacity: 0.9;
}

/*************************Restaurant.scss***********************/
