/****************** Menu1 ***********************/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
header img {
  display: block;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  height: 275px;
}
header {
  font-family: "Shrikhand", cursive;
  font-size: xx-large;
  text-align: center;
}
.arrowLeft{
  display: inline-block;
  justify-content: flex-end;
  left: 30px;
  padding: 20px 0 20px 0;
}
.fa-arrow-left{
  position: absolute;
  left: 30px;
  font-size: medium;
  top:30px; 
}
main {
  background: #f6f6f6;
  margin: 0 200px;
}
main h2 {
  font-family: "shrikhand", cursive;
  position: relative;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  padding: 30px 15px;
  /* line-height: 120px; */
  background: #f6f6f6;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
.menu-liste {
  margin-top: -50px;
  background: white;
  position: relative;
}
main .menu-liste {
  background-color: #f6f6f6;
  /* height: 1220px; */
  border-radius: 35px 35px 0 0;
  background: white;
}
.card-info {
  text-decoration: none;
  color: black;
  position: relative;
}
a {
  text-decoration: none;
}

.card-info i {
  position: absolute;
  font-size: 30px;
  right: 50px;
  top: 50%;
  margin-top: -85px;
  /* transform:translateY(-300%); */
}
/* .card-info h2,p {
    margin: -4px;
    padding: 8px;
  }  */
  .card-info .fa-solid {
    color: transparent;
    background-image: linear-gradient(
      193.33deg,
      #9356dc -11.44%,
      #ff79da 123.93%
    );
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
  }
card-info .fa-regular {
  font-weight: lighter;
  background-image: linear-gradient(193.33deg,#9356dc -11.44%,#ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.card-info:hover .fa-solid {
  opacity: 1;
}
.fa-solid {
  font-weight: 900;
}
/*************file menu*****************/

.file-menu {
  display: grid;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.menu-grid {
  background: white;
  border-radius: 15px;
  display: flex;
  padding: 15px;
  height: 70px;
  width: 600px;
}
h3 {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}
h4 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
p {
  margin: 0;
}
.file-menu h3 {
  margin: 0;
}
.prix {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-weight: 900;
}
/**************COMMANDER****************/
.file-menu button {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  width: 186px;
  border-radius: 25px;
  height: 50px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.commander {
  text-align: center;
}
/****************** Mdiaqueries **********************/
@media (max-width: 768px) {
  main {
    margin: 0;
  }
  .menu-grid {
    width: 350px;
  }
  main h2 {
    text-align: left;
  }
  footer {
    height: 186px;
  }
  .pied-de-page p {
    padding: 0;
    width: 100%;
  }
  .pied-de-page {
    flex-direction: column;
    margin-top: 25px;
    margin: 0;
    padding: 0 16px;
    padding-top: 60px;
    width: 100%;
  }

  footer h2 {
    display: flex;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0 16px;
    padding-top: 20px;
  }
}
/* Footer */
Footer p {
  margin: -4px;
}
footer {
  background-color: #353535;
  height: 186px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-weight: 400;
  position: absolute;
  right: 50px;
}
.pied-de-page {
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}
.pied-de-page p {
  display: flex;
  gap: 10px;
}
footer a {
  color: white;
}
