body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
/* main{
    padding: 0 100px;
  } */
header {
  font-family: "Shrikhand", cursive;
  font-size: xx-large;
  text-align: center;
  box-shadow: 0 0 0.5rem grey;
  padding: 20px;
  position: relative;
}
/* Nav */
main .ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px;
  margin: 0;
}
main .ville i {
  font-size: 20px;
}
/* Explorer */
.Explorer {
  text-align: center;
}
.Explorer h2 {
  font-size: 1.5rem;
  margin-top: 40px;
}
.Explorer p {
  font-size: 1rem;
}
.Explorer button {
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 25px;
  align-items: center;
  height: 50px;
  top: 50px;
  font-size: 15px;
}

/* Fonctionnement */
ol.Fonctionnement {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 0;
}
li {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  width:290px ;
}
ol {
  list-style-type: none;
  counter-reset: compteur;
}
ol li {
  counter-increment: compteur;
}
ol li::before {
  margin-right: 1rem;
  content: "" counter(compteur);
  color: white;
  background: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: -16px;
}
.Fonctionnement i {
  margin-right: 6px;
}

/* Mdiaqueries */
@media (max-width: 768px) {
  ol .Fonctionnement {
    flex-direction: column;
  }
  ol.Fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 25px;
    padding: 0;
  }
  .foncPropo{
    padding: 15px 30px;
  }
  .menu-cards {
    flex-direction: column;
  }
  .menu-cards .card {
    width: 95%;
  }
   .menus h2 {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .menus {
    padding: 10px;
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .card-info i {
    display: flex;
  }
  footer {
    height: 186px;
  }
  .pied-de-page p {
    padding: 0;
    width: 100%;
  }
  .pied-de-page {
    flex-direction: column;
    margin-top: 25px;
    margin: 0;
    padding: 0 16px;
    padding-top: 60px;
    width: 100%;
  }

  footer h2 {
    display: flex;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0 16px;
    padding-top: 20px;
  }

  /* menu1 */
  header img {
    width: 375px;
    height: 216px;
  }
}
/*************** menus************/
.menus {
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
}
.menu-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.menus .menu-cards .cardNouveau {
  position: relative;
}
.menus .menu-cards .cardNouveau::before {
  content: "Nouveau";
  height: 23px;
  width: 75px;
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  text-align: center;
  margin-top: 10px;
  right: 50px;
}
.menus img {
  object-fit: cover;
  background-size: cover;
  height: 231px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card-info {
  text-decoration: none;
  color: black;
  position: relative;
}
a {
  text-decoration: none;
}
.card-info i {
  position: absolute;
  font-size: 30px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.card-info h3,
p {
  margin: -4px;
  padding: 8px;
}
.card {
  height: 315px;
  flex-grow: 20px;
  width: 500px;
  box-shadow: 0px 4px 15px 0px #0000001a;
  border-radius: 15px;
  /* flex-grow: 1; */
}
.card-info .fa-regular {
  font-weight: lighter;
}
.card-info .fa-solid {
  color: transparent;
  background-image: linear-gradient(
    193.33deg,
    #9356dc -11.44%,
    #ff79da 123.93%
  );
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.card-info:hover .fa-solid {
  opacity: 1;
}
.menus h2 {
  margin-bottom: 30px;
  margin: 0;
  /* padding: 25px 250px; */
  }

/* Footer */

footer {
  background-color: #353535;
  height: 186px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-weight: 400;
  position: absolute;
  right: 50px;
}
.pied-de-page {
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}
.pied-de-page p {
  display: flex;
  gap: 10px;
}
footer a {
  color: white;
}
