/************* Styles.scss*************/
/*************************Restaurant.scss***********************/
/************* Styles.scss*************/
/*************************Restaurant.scss***********************/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Shrikhand", cursive;
  font-size: xx-large;
  text-align: center;
  box-shadow: 0 0 0.5rem grey;
  padding: 20px;
  position: relative;
}

/* Nav */
.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px;
  margin: 0;
}
.ville i {
  font-size: 20px;
}

/* Explorer */
.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 1.5rem;
  margin-top: 40px;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 25px;
  align-items: center;
  height: 40px;
  top: 50px;
  font-size: 15px;
  border: none;
  padding: 0 10px 0 10px;
  margin-top: 20px;
  transition: transform 200ms;
}
.explorer button:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

/* Fonctionnement */
.foncPropo {
  width: 75%;
  margin: auto;
}
@media (max-width: 768px) {
  .foncPropo {
    display: flex;
    flex-direction: column;
    width: 87%;
  }
}

ol.fonctionnement {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 0;
}
@media (max-width: 768px) {
  ol.fonctionnement {
    display: flex;
    flex-wrap: wrap;
  }
}

li {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  width: 476px;
}

ol {
  list-style-type: none;
  counter-reset: compteur;
}
ol li {
  counter-increment: compteur;
}
ol li::before {
  margin-right: 1rem;
  content: "" counter(compteur);
  color: white;
  background: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: -16px;
}

.fonctionnement i {
  margin-right: 6px;
}

/*************** menus************/
.menus {
  background-color: #f6f6f6;
  padding-bottom: 60px;
}
.menus .card {
  height: 350px;
  flex-grow: 20px;
  width: 476px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .menus .card {
    height: 250px;
  }
}
.menus img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  height: 270px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
@media (max-width: 768px) {
  .menus img {
    height: 170px;
  }
}
.menus .menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.menus .menu__cards .cardNouveau {
  position: relative;
}
.menus .menu__cards .cardNouveau::before {
  content: "Nouveau";
  height: 23px;
  width: 75px;
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 40px;
}

.menus-container {
  width: 75%;
  margin: auto;
}
@media (max-width: 768px) {
  .menus-container {
    width: 87%;
  }
}
.menus-container h2 {
  padding: 20px 0;
}
@media (max-width: 768px) {
  .menus-container h2 {
    margin: auto;
  }
}

.card__info {
  text-decoration: none;
  color: #353535;
  position: relative;
}
.card__info h3, .card__info p {
  margin: -4px;
  padding: 8px;
}
.card__info i {
  position: absolute;
  font-size: 30px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.card__info.fa-regular {
  font-weight: lighter;
}

a {
  text-decoration: none;
}

.heart .fa-solid {
  color: transparent;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition-duration: 1s;
}
.heart .fa-solid:hover {
  opacity: 1;
}

/* Footer */
footer {
  background-color: #353535;
  height: 186px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: 400;
  position: absolute;
  right: 50px;
}
@media (max-width: 768px) {
  footer h2 {
    display: flex;
    margin: 0;
    left: 0;
    top: 0;
    padding: 0 16px;
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  footer {
    height: auto;
  }
}

.pied__page {
  color: white;
  display: flex;
  gap: 20px;
}
.pied__page p {
  gap: 10px;
  display: flex;
}
@media (max-width: 768px) {
  .pied__page p {
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .pied__page {
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0 16px;
    padding-top: 60px;
    width: 100%;
  }
}

footer a {
  color: white;
}/*# sourceMappingURL=styles.css.map */